ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #1b3f1b;
    background-color: #1b3f1b;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0px 10px 20px 0px #1b3f1b;
}

li {
    float: left;
}

li a {
    display: block;
    color: #e4fc94;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}