<div th:fragment="footerFragment">
    <footer class="footer">
        <div class="filaFooter">
            <div class="footerColumn">
                <a href="" class="tituloFooter">Usuarios</a>
                <a href="loginUsuario.html" class="textoFooter" target="_blank">Inicia Sesión</a>
                <a href="RegistroUsuarios.html" class="textoFooter" target="_blank">Registrate</a>
                <a href="RecuperacionContraseñaUsuarios.html" class="textoFooter" target="_blank">Recuperá tu contraseña</a>
            </div>
            <div class="footerColumn">
                <a href="" class="tituloFooter">Restaurants</a>
                <a href="LoginRestaurant.html" class="textoFooter" target="_blank">Inicia Sesión</a>
                <a href="RegistroRestaurant.html" class="textoFooter" target="_blank">Registrate</a>
                <a href="RecuperacionContraseña.html" class="textoFooter" target="_blank">Recuperá tu contraseña</a>
            </div>
            <div class="footerColumn">
                <a href="QuienesSomosUsuario.html" class="tituloFooter sinTexto" target="_blank">Sobre EcoDelis</a>
                <a href="SoporteEnLinea.html" class="tituloFooter sinTexto" target="_blank">Soporte en línea</a>
            </div>
        </div>
        <hr class="separadorF">
        <div class="filaFooter">
            <div class="footerColumn">
                <a href="https://www.argentina.gob.ar/economia/comercio/defensadelconsumidor" class="textoFooterSinTitulo" target="_blank">Defensa del consumidor</a>
            </div>
            <div class="footerColumn filaF">
                <p class="textoFooter">EcoDelis&copy;</p>
            </div>
        </div>
    </footer>
</div>
