<nav th:fragment="headerFragment">
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav flex-row">
            <li class="nav-item">
                <a class="nav-link" href="/bares-cercanos">Registrate</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/favoritos">Olvidé mi contraseña</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/buscar-articulo-form">Tengo un bar</a>
            </li>
        </ul>
    </div>
</nav>