<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form th:object="${direccionCliente}" th:action="@{/agregarDireccionCliente}" method="post">

        <input th:field="*{calle}" placeholder="Calle" id="calleDireccionSucursal" required />
        <input th:field="*{numero}" placeholder="Número" id="numeroDireccionSucursal" required />
        <select th:field="*{localidad}" id="localidadDireccionSucursal" required>
            <option value="" disabled selected>Seleccione la localidad</option>
            <option th:each="loc : ${localidades}" th:value="${loc}" th:text="${loc}"></option>
        </select>
        <select th:field="*{provincia}" id="provinciaDireccionSucursal" required>
            <option value="" disabled selected>Seleccione la provincia</option>
            <option th:each="prov : ${provincias}" th:value="${prov}" th:text="${prov}"></option>
        </select>

        <button type="submit">Registrar Cliente</button>
    </form>
</body>
</html>