<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Agregar Sucursal</title>
</head>
<body>
<h2>Registrar Nueva Sucursal</h2>

<form th:object="${sucursal}" th:action="@{/registrarSucursal}" method="post">
    <!-- Información básica de la sucursal -->
    <h3>Información de la Sucursal</h3>
    <input th:field="*{nombre}" placeholder="Nombre" id="nombre" required />
    <select th:field="*{tipoSuscripcion}" id="tipoSuscripcionSucursal" required>
        <option value="" disabled selected>Seleccione el tipo de suscripción</option>
        <option th:each="tipo : ${tipoSuscripciones}" th:value="${tipo}" th:text="${tipo}"></option>
    </select>
    <select th:field="*{tipoLocal}" id="tipoLocal" required>
        <option value="" disabled selected>Seleccione el tipo de suscripción</option>
        <option th:each="tipo : ${tipoLocal}" th:value="${tipoL}" th:text="${tipoL}"></option>
    </select>

    <!-- Dirección de la sucursal -->
    <h3>Dirección de la Sucursal</h3>
    <input th:field="*{direccion.calle}" placeholder="Calle" id="calleDireccionSucursal" required />
    <input th:field="*{direccion.numero}" placeholder="Número" id="numeroDireccionSucursal" required />
    <select th:field="*{direccion.localidad}" id="localidadDireccionSucursal" required>
        <option value="" disabled selected>Seleccione la localidad</option>
        <option th:each="loc : ${localidades}" th:value="${loc}" th:text="${loc}"></option>
    </select>
    <select th:field="*{direccion.provincia}" id="provinciaDireccionSucursal" required>
        <option value="" disabled selected>Seleccione la provincia</option>
        <option th:each="prov : ${provincias}" th:value="${prov}" th:text="${prov}"></option>
    </select>

    <!-- Botón para enviar el formulario -->
    <button type="submit">Registrar Sucursal</button>
</form>

</body>
</html>
