<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--<div th:replace="templates/headerCliente :: headerFragment"></div>-->
<form th:action="@{/logueoLocal}" method="get" th:object="${local}">
    <input th:field="*{email}" id="email" type="email" placeholder="E-Mail" required/>
    <input th:field="*{password}" id="password" type="password" placeholder="Contraseña" required/>
    <button id="btn-login-local" type="submit">Login</button>
    <p th:if="${error != null}" th:text="'Error ' + ${error}"></p>
</form>
<!--<div th:replace="templates/footerCliente :: footerFragment"></div>-->
</body>
</html>