<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:object="${cliente}" th:action="@{/modificarTipoSuscripcionCliente}" method="post">
    <input type="hidden" name="_method" value="put" />
    <label for="Tipo_cliente">Tipo de Cliente:</label>
    <select th:field="*{tipocliente}" id="Tipo_cliente" required>
        <option value="" disabled selected>Seleccione el tipo de cliente</option>
        <option th:each="tipo : ${tiposSuscripcion}" th:value="${tipo}" th:text="${tipo}"></option>
    </select>
    <button type="submit">Guardar cambios</button>
</form>

</body>
</html>