<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:if="${error}" style="color: red; font-weight: bold;">
    <p th:text="${error}"></p>
</div>


<form th:object="${cliente}" th:action="@{/verificarDisponibilidadMailCliente}" method="get">
    <!-- Campo para el email -->
    <label for="email">Email:</label>
    <input th:field="*{email}" type="email" id="email" placeholder="Ingrese el email" required />
    <br />

    <!-- Campo para la contraseña -->
    <label for="password">Contraseña:</label>
    <input th:field="*{password}" type="password" id="password" placeholder="Ingrese la contraseña" required />
    <br />

    <!-- Botón para enviar el formulario -->
    <button type="submit">Registrar Local</button>
</form>
</body>
</html>